.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

aside {
  min-width: 200px;
  padding: var(--size-md);
  background-color: var(--color-surface-light-100);
  box-sizing: border-box;
}

main {
  padding: var(--size-md);
  box-sizing: border-box;
}
